body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: larger;
}

a {
    text-decoration: none;
}

.scores-board {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
}

#time {
    position:absolute;
    top: 0;
    right: 10px;
    font-size: 20px;    
}

#message {
    text-align: center;
    position: relative;
    font-size: large;
    top: 150px;
    margin: 25px;
    margin-top: 4px solid   rgba(68, 88, 119, 1);
}

.start {
    text-align: center;
}

.btn-all {
    cursor: pointer;
    background-color: navy;
    color: whitesmoke;    
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    margin: 2.5px;
}

.btn-all:hover {
   background-color: rgb(201, 38, 201);
}


.btn {
    background-color: navy;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 25px;
    margin: 2px;    
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(201, 38, 201);
}

#answers {    
    display: grid;
    justify-content: center;    
}

#question {
    text-align: center;    
}

.container, .start {
    position: relative;
    top: 150px;
}

/* Score-board */
tr, td {
    background-color: blueviolet;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

#highscore-div {
    display: grid;
    justify-content: center;
    margin: 25px;  
      
}

